{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/show.css') }}" />
{% endblock %}
{% block body %}
<div class="color__choices">
            <div class="color__choicesInput color__choicesInput--blue"></div>
            <div class="color__choicesInput color__choicesInput--purple"></div>
            <div class="color__choicesInput color__choicesInput--green"></div>
            <div class="color__choicesInput color__choicesInput--orange"></div>
            <div class="color__choicesInput color__choicesInput--red"></div>
            <div class="color__choicesText">change theme</div>
    </div>
    <div class="container_header">
        <div class="logo logo_position">k</div>
        <div class="form">
            <form class="form_position">
                <input class="form_bar" type="text" name="searchbar" placeholder="Discover your new favorite youtuber…">
                <input class="form_button" type="submit" value="SEARCH">
            </form>
        </div>
        <div class="text_online">1826 online</div>
    </div>

<nav class="category__choices">
    <div><</div>
    <div>vlog</div>
    <div>comedy</div>
    <div>lifestyle</div>
    <div>art</div>
    <div>photography</div>
    <div>gaming</div>
    <div>sciences</div>
    <div>politics</div>
    <div>cute</div>
    <div>vape</div>
    <div>make-up</div>
    <div>education</div>
    <div>></div>
</nav>

<div class="feed__global">
    
<div class="feed__central">
<div class="feed__centralHeader">
    <div class="feed__centralHead">HOT🔥</div>
</div>

<div class="feed__centralPreviousNext">
    <div class="feed__centralPost">Previous post</div>
    <div class="feed__centralNext">Next post</div>
</div>

<div class="feed__centralMain">
    
    <div class="feed__centralTitle">
        <div class="title_text">{{ post.title }}</div>
        <div class="title_author">posted by {{ post.author.username }}</div>
        <div class="title_time">{{ post.createdAt|ago }}</div>
    </div>

<div class="feed__centralVideo"><iframe width="710" height="394" src="https://www.youtube.com/embed/DHyUYg8X31c" frameborder="0" allowfullscreen></iframe></div>

<div class="feed__videoDescription">
    <div class="feed__videoInfo">
        <div class="video_titleCategory">
            <div class="video_title">MON RETOUR SUR BLACKOPS</div>
            <div class="video_category">{{ post.category }}</div>
        </div>
        <div class="video_authorSubscribers">
            <div class="video_author">Squeezie</div>
            <div class="video_subscribers">2 394 384 subscribers</div>
        </div>
        <div class="video_hashtags">
            {% for tag in post.tags %}
                <div class="hashtag first_hashtag">#{{ tag }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="feed__descriptionBuzz">
        
        <div class="feed__videoBuzz">
            <div class="video_arrowUp">⬆️️</div>
            <div class="video_arrowDown">⬇️️</div>
        </div>
            <div class="video_arrowPoints">{{ post.points }} points</div>
    </div>
</div>
    <div class="feed__videoText">{{ post.content }}</div>
</div>
    <div class="form_comment">
        {% include ':post/comment:new.html.twig' %}
    </div>
    {% for comment in post.comments %}
        {% include ':post/comment:show.html.twig' with {'comment': comment} %}
    {% endfor %}
</div>
<div class="feed__side">
    <a href="{{ path('post_new') }}" ><input type="button" class="button_create" value="CREATE A POST"></a>
    <div class="feed__perso">
        <div class="feed__persoCreate"></div>
        <div class="feed__persoUser">
            <div class="user__description">
                <div class="user__descriptionImage">

                <div class="user__descriptionDetails">
                    <div class="details__user">
                        <div class="details__userName">Axel</div>
                        <div class="details__userFollowers">72 followers</div>
                    </div>
                    <div class="details__description">Watches addict, vape nation, friend of the leo loriol.</div>
                </div>
              </div>
                    <div class="user__separation"></div>
                <div class="user__interests">
                    <div class="user__interestsFollowed">You recently followed Phillipe, Laura and Patrick.</div>
                    <div class="user__interestsLiked">Last post you liked : A french comedian by Laura.</div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}
