{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Points</th>
                <td>{{ post.points }}</td>
            </tr>
            <tr>
                <th>Channel</th>
                <td>{{ post.channel }}</td>
            </tr>
        </tbody>
    </table>
    {% include ':post/comment:new.html.twig' %}
    {% for comment in post.comments %}
        {% include ':post/comment:show.html.twig' with {'comment': comment} %}
    {% endfor %}
{% endblock %}
